{
    "openapi": "3.0.0",
    "info": {
        "title": "Backbone Freshdesk SKU Usage Collector API",
        "description": "Backbone Freshdesk SKU Usage Collector API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://freshdesk-sku-usage-collector-api.conqore.niceshops.com/v1",
            "description": "Production server"
        },
        {
            "url": "https://freshdesk-sku-usage-collector-api.staging.backbone.datenkraft.info/v1",
            "description": "Staging server"
        },
        {
            "url": "https://localhost:30330/v1",
            "description": "Development server"
        }
    ],
    "paths": {
        "/auth/role": {
            "get": {
                "tags": [
                    "auth-role"
                ],
                "summary": "Get all available roles from this resource server",
                "description": "Get all available roles from this resource server",
                "operationId": "getAuthRoleCollection",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/role-identity": {
            "get": {
                "tags": [
                    "auth-role-identity"
                ],
                "summary": "Get all role to identity assignments from this resource server",
                "description": "Get all role to identity assignments from this resource server",
                "operationId": "getAuthRoleIdentityCollection",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleIdentityCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "auth-role-identity"
                ],
                "summary": "Create one or more role to identity assignments in this resource server",
                "description": "Create one or more role to identity assignments in this resource server",
                "operationId": "postAuthRoleIdentityCollection",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/authRoleIdentityCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleIdentityCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "auth-role-identity"
                ],
                "summary": "Delete one or more role to identity assignments in this resource server",
                "description": "Delete one or more role to identity assignments in this resource server",
                "operationId": "deleteAuthRoleIdentityCollection",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/authRoleIdentityCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/docs": {
            "get": {
                "tags": [
                    "docs"
                ],
                "summary": "Get the openapi documentation as json",
                "description": "Get the openapi documentation as json",
                "operationId": "getOpenApi",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/docs/openapi.{format}": {
            "get": {
                "tags": [
                    "docs"
                ],
                "summary": "Get the openapi documentation in the specified format (yaml or json, fallback is json)",
                "description": "Get the openapi documentation in the specified format (yaml or json, fallback is json)",
                "operationId": "getOpenApiInFormat",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Openapi file format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "yaml",
                                "json"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "errorResponse": {
                "properties": {
                    "errors": {
                        "description": "errors",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/error"
                        }
                    }
                },
                "type": "object"
            },
            "error": {
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "description": "Code",
                        "type": "string"
                    },
                    "message": {
                        "description": "Message",
                        "type": "string"
                    },
                    "extra": {
                        "$ref": "#/components/schemas/errorExtra"
                    }
                },
                "type": "object"
            },
            "errorExtra": {
                "properties": {
                    "ticketId": {
                        "description": "Ticket Id",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ticket": {
                "required": [
                    "ticketId",
                    "status",
                    "source",
                    "createdDate",
                    "lastUpdatedDate",
                    "resolvedDate"
                ],
                "properties": {
                    "ticketId": {
                        "description": "Ticket Id",
                        "type": "integer"
                    },
                    "status": {
                        "description": "Current Status of the Ticket (e.g. Open)",
                        "type": "string"
                    },
                    "product": {
                        "description": "Associated Product (Shop)",
                        "type": "string",
                        "nullable": true
                    },
                    "source": {
                        "description": "Source of the Ticket (e.g. Email)",
                        "type": "string"
                    },
                    "createdDate": {
                        "description": "Date when the Ticket was created",
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastUpdatedDate": {
                        "description": "Date when the Ticket was last updated",
                        "type": "string",
                        "format": "date-time"
                    },
                    "resolvedDate": {
                        "description": "Date when the Ticket was resolved",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "putTicketCollectionRequest": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/ticket"
                }
            },
            "putTicketCollectionResponse": {
                "description": "Class TicketResource",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/ticket"
                }
            },
            "authPermissionResource": {
                "required": [
                    "permissionCode",
                    "name"
                ],
                "properties": {
                    "permissionCode": {
                        "description": "Permission Code",
                        "type": "string"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "getAuthPermissionCollectionResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/authPermissionResource"
                }
            },
            "authRoleIdentityResource": {
                "required": [
                    "roleCode",
                    "identityId"
                ],
                "properties": {
                    "roleCode": {
                        "description": "Role Code",
                        "type": "string"
                    },
                    "identityId": {
                        "description": "Identity ID",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "authRoleIdentityCollection": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/authRoleIdentityResource"
                }
            },
            "authRoleResource": {
                "required": [
                    "roleCode",
                    "name"
                ],
                "properties": {
                    "roleCode": {
                        "description": "Role Code",
                        "type": "string"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "authRoleCollection": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/authRoleResource"
                }
            }
        },
        "securitySchemes": {
            "oAuthAuthorization": {
                "type": "oauth2",
                "description": "OAuth2 Authorization",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https://localhost:30370/oauth/token",
                        "refreshUrl": "UNDEFINED",
                        "scopes": {}
                    }
                }
            }
        }
    }
}